body{
    background-image:url(https://bit.ly/3aDlM64);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 700px;
    opacity: o.5;
    padding: 0;
    background-color:rgb(209, 216, 211);
    overflow:scroll;
    /* text-align: center; */
    list-style-position: center;
    font-size: large;
    display: inline ;

}




a{
    margin-left:10px ;
    font-size:20px ;
    text-decoration: none;
    
}
.navbar{
 list-style-type: none; 
 height: 30px;
    display:flex; 
    background-attachment: space;
    padding:100px;
    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Bangers', cursive;
  
}
.menu.sticky{
    float: left;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100%;
    height: 90px;
    
}
.one{
text-align: center;
}
.one>h3{
font-style: italic;

}
.vl {
    border-left: 6px solid green;
    height: 100%;
    width: 70%;
}
.column{
    float: left;
    width: 70%;
}
table{
    text-align:justify;
    text-emphasis-style: block;
}





